<%- include('header') -%>
<section class="container-fluid" style="padding-top: 40px;">
	<div class="container">
		<div class="row sign_align_center">
			
			<div class="col-sm-12">
				<div class="signup_form dashboard">
					<h4>Dashbord</h4>
					<a href="/admin/edit"> Edit</a>
					<ul>
						<li>
							<a href="/admin/blogform"><span class="icon"><img src="images/blogging.png" /></span> <span class="cntnt">Add Blog</span></a>
						</li>
						<li>
							<a href="/admin/homeslider"><span class="icon"><img src="images/slider.png" /></span><span class="cntnt"> Home Slider</span></a>
						</li>
						<li>
							<a href="/admin/aboutform"><span class="icon"><img src="images/about.png" /></span><span class="cntnt">Add About Us</span></a>
						</li>
						<li>
							<a href="/admin/serviceform"><span class="icon"><img src="images/service.png" /></span><span class="cntnt">Add Services</span></a>
						</li>
						<li>
							<a href="/admin/Testimonialsform"><span class="icon"><img src="images/testimonials.png" /></span><span class="cntnt">Add Testimonials</span></a>
						</li>
						<li>
							<a href="#"><span class="icon"><img src="images/contact.png" /></span> <span class="cntnt"> Contact US</span></a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<!-- for img -->

</section>


</body>
</html>