<%- include('header') -%>
<section class="container-fluid" style="padding-top: 40px;">
	<div class="container">
		<div class="row sign_align_center">
			
			<div class="col-sm-12">
				<div class="signup_form dashboard">
					<a href="/admin/dashboard">Dashboard</a>
					<ul>
						<li>
							<a href="/admin/edit-blog"><span class="icon"><img src="images/blogging.png" /></span> <span class="cntnt">Edit Blog</span></a>
						</li>
						<li>
							<a href="/admin/homeslider"><span class="icon"><img src="images/slider.png" /></span><span class="cntnt">Edit Home Slider</span></a>
						</li>
						<li>
							<a href="/admin/aboutform"><span class="icon"><img src="images/about.png" /></span><span class="cntnt">Edit About Us</span></a>
						</li>
						<li>
							<a href="/admin/serviceform"><span class="icon"><img src="images/service.png" /></span><span class="cntnt">Edit Services</span></a>
						</li>
						<li>
							<a href="/admin/Testimonialsform"><span class="icon"><img src="images/testimonials.png" /></span><span class="cntnt">Edit Testimonials</span></a>
						</li>
					</ul>
				</div>
			</div>	
		</div>
	</div>
	<!-- for img -->

</section>


</body>
</html>