<!-- start footer -->
<footer class="testimorial_space footer_bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <div class="footer_add">
            <h5>Contact</h5>
            <ul>
              <li><span class="footer_add_icon"><img src="images/maps-and-flags.svg"></span><span class="footer_add_cntnt">Three Riverway, Suite 1430
  Houston, TX. 77056</span></li>
  <li><span class="footer_add_icon"><img src="images/envelope.svg"></span><span class="footer_add_cntnt">info@adextros.com</span></li>
  <li><span class="footer_add_icon"><img src="images/telephone.svg"></span><span class="footer_add_cntnt">+91 881306690</span></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 xs_p_t">
          <div class="footer_link">
            <h5>Services</h5>
            <ul>
              <li><a href="#">Strategic Branding</a></li>
              <li><a href="#">Graphic design</a></li>
              <li><a href="#">Content creation</a></li>
              <li><a href="#">SEO</a></li>
              <li><a href="#">Social media campaigns</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 xs_p_t">
          <div class="footer_link">
            <h5>Navigation</h5>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Services</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Testimonials</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- end footer -->
  <!-- start last footer -->
  <div class="container-fluid last_footer_p">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <div class="last_footer_txt">
            <p>@ Copyright 2019  <span class="last_footer_cntnt">Adextros</span></p>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 xs_p_t">
          <div class="last_footer_icon">
            <img src="images/certificatoin_icon.png">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end last footer -->
  
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <!-- wow -->
      
      <script src="js/owl.carousel.min.js"></script>
      <script type="text/javascript">
       $('#owl-carousel1').owlCarousel({
          loop:true,
          items:1,
          autoplay:true,
          autoplayTimeout:3000,
          autoplayHoverPause:true,
          margin:0,
          nav:true
         
      })
       $('#owl-carousel2').owlCarousel({
            stagePadding: 200,
            loop:true,
            margin:10,
            nav:false,
            items:1,
            lazyLoad: true,
            autoplay:true,
            autoplayTimeout:3500,
            autoplayHoverPause:true,
            nav:true,
            responsive:{
                0:{
                    items:1,
                    margin:10,
                    stagePadding: 10
                },
                800:{
                    items:1,
                    stagePadding: 120
                },
                1000:{
                    items:1,
                    stagePadding: 200
                },
                1200:{
                    items:1,
                    stagePadding: 320
                },
                1400:{
                    items:1,
                    stagePadding: 350
                },
                1600:{
                    items:1,
                    stagePadding: 400
                },
                1800:{
                    items:1,
                    stagePadding: 450
                }
            }
        })
      </script>
    
    </body>
  </html>