<%- include('header') -%>
<section class="container-fluid join_usbg sign_bg">
	<div class="container">
		<div class="row sign_align_center">
			<div class="col-sm-4 col-md-5 col-lg-7">
				<div class="sign_logo">
					<a href="/">
						<img src="images/logo.png">
					</a>
				</div>
			</div>
			<div class="col-sm-8 col-md-7 col-lg-5">
				<div class="signup_form">
					<h4>Testimonials form</h4>
					<% if(typeof err != 'undefined'){ %>
						<div class="alert alert-danger" id="removeAlert" style="display: block;">
							<%= err %>
						  </div>
					<% } %>
					<form method="post" action="/admin/Testimonialsform" enctype="multipart/form-data">
						<ul>
							<li>
								<label>Enter Review</label>
								<input type="text" name="review">
							</li>
							<li>
								<label>Enter Name</label>
								<input type="text" name="name">
							</li>
							<li>
								<label>Enter Type</label>
								<input type="text" name="authType">
							</li>
							<li>
								<label>Upload Testimonial Image</label>
								<input type="file" name="filename">
							</li>
							
							<li>
								<input type="submit" name="submit" value="Add Testimonial">
							</li>
						</ul>
					</form>
				</div>
			</div>	
		</div>
	</div>
	<!-- for img -->
	<div class="join_us_img">
		<img src="images/signup_bg.jpg">
	</div>

</section>

<script>

	setTimeout(removeAlert, 2000);
	function removeAlert(){
		document.getElementById("removeAlert").innerHTML = " ";
		document.getElementById("removeAlert").style.display = "none";
	}
</script>
</body>
</html>